# MODULE 4: SELECTING SUBSETS OF DATA

In [1]:
import pandas as pd
import numpy as np

# Selecting DataFrame rows

## Using the location indexers *.iloc* and *.loc*  for making the selection

In [2]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [3]:
pd.options.display.max_rows = 6

In [4]:
# For selecting subsets of data, we use two "indexers" .iloc and .loc that respectively select the subset of data based 
# on location. The .iloc selects subset based on *integer location* and .loc selects susbset of data based on label of 
# the index.

#Both .iloc and .loc indexers can select data from a dataFrame or a Series
# Both indexers can be used to select row or columns or both.
# We can pass scalers, lists, or slices (e.g. 5:10) to the indexers

In [5]:
# We can specify the integer location of the row with .iloc indexer
# We want 60th row

college.iloc[60]

CITY                  Anchorage
STABBR                       AK
HBCU                          0
                        ...
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, Length: 26, dtype: object

In [6]:
# Likewise, we can provide index label of the row we want and use .loc indexer
# We want the same row as above but now we provide the INSTNM variable's index label i.e. 'University of Alaska Anchorage'

college.loc['University of Alaska Anchorage']

CITY                  Anchorage
STABBR                       AK
HBCU                          0
                        ...
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, Length: 26, dtype: object

In [7]:
# We could also pass a list of rows to .iloc indexer 
# we want to subset (e.g 60th, 99th 3rd)
# Notice the use of double brackets to pass a list

college.iloc[[60, 99, 3]]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097

In [8]:
# We can do the same things as above by passing the respective index labels and using .loc indexer
# Note we create a list of index labels first, and pass in to .loc indexer

labels = ['University of Alaska Anchorage',
          'International Academy of Hair Design',
          'University of Alabama in Huntsville']
college.loc[labels]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097

In [9]:
# Alternatively we coudl pass a integer slice (e.g 99:102) to the .iloc indexer
# We want rows drom 99 to 102

college.iloc[99:102]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
GateWay Community College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,5211.0,...,0.0127,0.0161,0.0702,0.7465,1,0.3270,0.2189,0.5832,29800,7283
Mesa Community College,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,19055.0,...,0.0205,0.0257,0.0682,0.6457,1,0.3423,0.2207,0.4010,35200,8000

In [10]:
# The label-based analogue to integer slice is to create a label slice
# we do this by specifying the start-label and the stop-label of the slice
# we use .loc indexer, and pass on to it the slice start:stop

start = 'International Academy of Hair Design'
stop = 'Mesa Community College'

college.loc[start:stop]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
GateWay Community College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,5211.0,...,0.0127,0.0161,0.0702,0.7465,1,0.3270,0.2189,0.5832,29800,7283
Mesa Community College,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,19055.0,...,0.0205,0.0257,0.0682,0.6457,1,0.3423,0.2207,0.4010,35200,8000

# Selecting DataFrame rows and columns simultaneously

## We use:
## df.iloc[rows,  columns]  
## df.loc[rows, columns]

In [11]:
# We import the college data set
# Subset first 3 row and first 4 columns, using .iloc indexer

college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.iloc[:3, :4]

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

In [12]:
# We want to make the same selction as above but now with labels
# We specify all labels upto 'Amridge University' (i.e. row 3), 
# and all columns upto 'MENONLY' (i.e. columns 4 ) 
# We get the same result as before

college.loc[:'Amridge University', :'MENONLY']

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

In [13]:
# Select all rows and two different columns (4rth and 6th) with .iloc indexer

college.iloc[:, [4,6]].head()

                                     WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                   0.0     424.0
University of Alabama at Birmingham        0.0     570.0
Amridge University                         0.0       NaN
University of Alabama in Huntsville        0.0     595.0
Alabama State University                   0.0     425.0

In [14]:
# can make the same selection as above but based on column labels and by using .loc indexer

college.loc[:, ['WOMENONLY', 'SATVRMID']]

                                                    WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                                  0.0     424.0
University of Alabama at Birmingham                       0.0     570.0
Amridge University                                        0.0       NaN
...                                                       ...       ...
National Personal Training Institute of Cleveland         NaN       NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN       NaN
Excel Learning Center-San Antonio South                   NaN       NaN

[7535 rows x 2 columns]

In [15]:
# We can even select disjoint row and columns simultaneously by passing two lists to .iloc indexer
# One list is for subsetting rows i.e. [100, 200] and the other for subsetting columns [7, 15]

college.iloc[[100, 200], [7, 15]]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [16]:
# We can get the same result as above by passing lists of row- and columns-labels to .loc indexer

rows = ['GateWay Community College', 'American Baptist Seminary of the West']
columns = ['SATMTMID', 'UGDS_NHPI']

college.loc[rows, columns]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [17]:
# Next we want to subset the 6th row and 4rth columns from the right
# So lets look at the first 6 rows and all columns
# Note: The 4rth column from the right is PCTFLOANS (scroll to the left and see)

college.head(6)

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,29851.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750

In [18]:
# To select 6th row, set row index =5 
# To select 4rth column from the right column index = -4
# pass both integer locations to .iloc indexer

college.iloc[5, -4]

0.401

In [19]:
# Same result is achieved by passing the respective row and column labels to .loc indexer

college.loc['The University of Alabama', 'PCTFLOAN']

0.401

  ***********************************************************************************************

# Selecting data with both integers and labels

Here we will select rows and columns with slicing.Remember slicing depends on row/column location, 
which is based on simple counts (k = 1, 2, 3), e.g. 5th column, or 10th row

Whereas, .iloc accepts as argument, the index value (I= 0,1,2,3), starts from zero

So k = I + 1

In [20]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')

In [21]:
# Let's look at columns of college dataFrame. Note 'CITY' is at index I=0 and UGDS_WHITE is at I=10
# and UGDS_UNKN is at I=18

college.columns

Index(['CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

We want to subset first 5 rows, and columns BETWEEN UGDS_WHITE and UGDS_UNKN
We will subset a slice of the form [k1:k2], which will give us all columns BETWEEN column-k1 and columns-k2

We will get values of index(I) of each column using .columns.get_loc method
Next, we will find columns counts by k = I + 1

Finally, we will define the slice as k1:k2, which will subset all columns BETWEEN the two limits, 
exclusive of both

In [22]:
#Note .columns.get_loc returns index I of the column.

col_start = college.columns.get_loc('UGDS_WHITE')
col_end = college.columns.get_loc('UGDS_UNKN') + 1

col_start, col_end

(10, 19)

In [23]:
# We want first 5 rows and every column between 10th and 19 columns, both exclusive

college.iloc[:5, col_start:col_end]

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

A more direct approach is to simply use column names in the slice.
In this case we will use .loc indexer
And we will need row indices.

Below we want to subset rows indexed 10 to 15
We need to first get labels corresponding to I=10 and I=15
We use .index method on dataFrame college to define the start and end rows

In [24]:
row_start = college.index[10]
row_end = college.index[15]
row_start, row_end

('Birmingham Southern College', 'James H Faulkner State Community College')

In [25]:
college.loc[row_start:row_end, 'UGDS_WHITE':'UGDS_UNKN']

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009

# Scalar selection

Scaler selection is reading a dataFrame value by a specifying a particular row and columns pair 
We can do this by using .loc indexer and passing on to it row and column names

Below we specify a college name (row label) and a column name.

In [26]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
cn = 'Texas A & M University-College Station'
college.loc[cn, 'UGDS_WHITE']

0.6609999999999999

In [27]:
# A better way is to use .at indexer when we have a scalar selection. It is faster

college.at[cn, 'UGDS_WHITE']

0.6609999999999999

## There's more...

In [28]:
state = college['STABBR']

In [29]:
# we can also use .iat indexer. Below we want teh state abbrevation (STABBR) at row index location 1000
state.iat[1000]

'IL'

In [30]:
# Below we use .at indexer adn pass to it row label. We want state abbrevation at row label ='Stanford University'
state.at['Stanford University']

'CA'

# Slicing Lexicographically

We can specify a slice lexicographically, e.g. rows with index values between 'Sp' and 'Su'
But rows must sorted first.

In [31]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college = college.sort_index()

In [32]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
A & W Healthcare Educators,New Orleans,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,40.0,...,0.0000,0.0000,0.0000,0.1250,1,0.7018,0.8596,0.6667,NaN,19022.5
A T Still University of Health Sciences,Kirksville,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,219800,PrivacySuppressed
ABC Beauty Academy,Garland,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,30.0,...,0.0000,0.0000,0.0000,0.0000,0,0.7857,0.0000,0.8286,NaN,PrivacySuppressed
ABC Beauty College Inc,Arkadelphia,AR,0.0,0.0,0.0,0,NaN,NaN,0.0,38.0,...,0.0000,0.0000,0.0000,0.2105,1,0.9815,1.0000,0.4688,PrivacySuppressed,16500
AI Miami International University of Art and Design,Miami,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,2778.0,...,0.0018,0.0025,0.4644,0.2185,1,0.5507,0.6966,0.3262,29900,31000

In [33]:
pd.options.display.max_rows = 6

In [34]:
college.loc['Sp':'Su']

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Spa Tech Institute-Ipswich,Ipswich,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,37.0,...,0.000,0.0,0.0541,0.4054,1,0.2656,0.3906,0.7907,21500,6333
Spa Tech Institute-Plymouth,Plymouth,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,153.0,...,0.000,0.0,0.2484,0.3399,1,0.3716,0.4266,0.6250,21500,6333
Spa Tech Institute-Westboro,Westboro,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,90.0,...,0.000,0.0,0.0222,0.5778,1,0.3409,0.4545,0.6882,21500,6333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Stylemaster College of Hair Design,Longview,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,77.0,...,0.013,0.0,0.0000,0.0000,1,0.8036,0.7024,0.4510,17000,13320
Styles and Profiles Beauty College,Selmer,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,31.0,...,0.000,0.0,0.0000,0.0000,1,0.8182,0.7955,0.2400,PrivacySuppressed,PrivacySuppressed
Styletrends Barber and Hairstyling Academy,Rock Hill,SC,0.0,0.0,0.0,0,NaN,NaN,0.0,45.0,...,0.000,0.0,0.0000,0.5556,0,1.0000,1.0000,0.3529,PrivacySuppressed,9495.5

In [35]:
# Another example

college.loc['B':'E']

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
B M Spurr School of Practical Nursing,Glen Dale,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,31.0,...,0.0000,0.0000,0.0000,0.0000,1,0.4722,0.0000,0.4444,PrivacySuppressed,PrivacySuppressed
BIR Training Center,Chicago,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,2132.0,...,0.0000,0.0000,0.0000,0.1806,0,0.6700,0.6998,0.6741,PrivacySuppressed,15394
BJ's Beauty & Barber College,Auburn,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,28.0,...,0.0714,0.0000,0.0714,0.0000,1,0.5192,0.6154,0.2917,NaN,PrivacySuppressed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Dutchess BOCES-Practical Nursing Program,Poughkeepsie,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,155.0,...,0.0581,0.0000,0.0000,0.7548,1,0.5294,0.6275,0.5430,36500,9500
Dutchess Community College,Poughkeepsie,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,6885.0,...,0.0446,0.0129,0.0049,0.3312,1,0.2464,0.1936,0.1806,32500,10250
Dyersburg State Community College,Dyersburg,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,2001.0,...,0.0185,0.0010,0.0085,0.4423,1,0.4921,0.2493,0.3097,26800,7475