# Module 2: Essential DataFrame Operations

## Selecting multiple DataFrame columns

In [5]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 40

In [5]:
# Reading csv file
movie = pd.read_csv('data/movie.csv')

# Creating a nammed list of variables to be selected 
# and passing it to dataframe indexing operator

cols = ['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name'] # creating list
movie_actor_director_name = movie[cols]

movie_actor_director_name.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [6]:
# If you do not want to create a nammed list first
# you can directly pass a list object to dataFrame indexing operator
# notice the use of double square brackets [[ ]]  below
### The inner [] is for creating a list object

movie_actor_director_name[['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']]
movie_actor_director_name.head()

# we get the same result as before

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [7]:
# If you do not write double brackets you will get an error
# Try passing the variable names separated by commas to indexing operator (i.e. with single brackets)
#    movie_actor_director_name['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']

# You will get a KeyError

<h1><center> ______________________________________________________________________________________
</center></h1>

<h1 align='center'>    Selecting columns with methods</h1> <center>(with select_dtypes & filter)</center>
    
<h2> 1. select_dtypes </h2>(eg. 'int64', 'number') 
<h2> 2. filter </h2>  (used with like= & regex)

In [8]:
# before selet_dtypes lets look at data types of columns in dataFrame
# use get_dtype_counts method
movie = pd.read_csv('data/movie.csv', index_col='movie_title')
movie.get_dtype_counts()

float64    13
int64       3
object     11
dtype: int64

In [9]:
# selecting columns with select_dtypes method 
#    with include parameter
# seleting all variables having int64 format

movie.select_dtypes(include=['int64']).head()

,num_voted_users,cast_total_facebook_likes,movie_facebook_likes
movie_title,,,
Avatar,886204,4834,33000
Pirates of the Caribbean: At World's End,471220,48350,0
Spectre,275868,11700,85000
The Dark Knight Rises,1144337,106759,164000
Star Wars: Episode VII - The Force Awakens,8,143,0

In [10]:
# selecting columns with number format

movie.select_dtypes(include=['number']).head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,
Avatar,723.0,178.0,0.0,855.0,1000.0,760505847.0,886204,4834,0.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,302.0,169.0,563.0,1000.0,40000.0,309404152.0,471220,48350,0.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,602.0,148.0,0.0,161.0,11000.0,200074175.0,275868,11700,1.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,1144337,106759,0.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,NaN,131.0,NaN,131.0,NaN,8,143,0.0,NaN,NaN,NaN,12.0,7.1,NaN,0

In [11]:
# selecting columns with float64 format
# Notice the last column is different compared to above

movie.select_dtypes(include=['float64']).head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio
movie_title,,,,,,,,,,,,,
Avatar,723.0,178.0,0.0,855.0,1000.0,760505847.0,0.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78
Pirates of the Caribbean: At World's End,302.0,169.0,563.0,1000.0,40000.0,309404152.0,0.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35
Spectre,602.0,148.0,0.0,161.0,11000.0,200074175.0,1.0,994.0,245000000.0,2015.0,393.0,6.8,2.35
The Dark Knight Rises,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,0.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35
Star Wars: Episode VII - The Force Awakens,NaN,NaN,131.0,NaN,131.0,NaN,0.0,NaN,NaN,NaN,12.0,7.1,NaN

<h1>Using filter method to select columns</h1>
<h2> filter method parameters: like, regex</h2>

In [12]:
# Using filter method with **like** parameter 
movie.filter(like='facebook').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
movie_title,,,,,,
Avatar,0.0,855.0,1000.0,4834,936.0,33000
Pirates of the Caribbean: At World's End,563.0,1000.0,40000.0,48350,5000.0,0
Spectre,0.0,161.0,11000.0,11700,393.0,85000
The Dark Knight Rises,22000.0,23000.0,27000.0,106759,23000.0,164000
Star Wars: Episode VII - The Force Awakens,131.0,NaN,131.0,143,12.0,0

In [13]:
# regex parameter uses regular expression
# \d stands for any number between 0 and 9
# it pulls colums that have numbers in their names eg actor_1_facebook_name

movie.filter(regex= '\d').head()

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
movie_title,,,,,,
Avatar,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
Pirates of the Caribbean: At World's End,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
Spectre,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
The Dark Knight Rises,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
Star Wars: Episode VII - The Force Awakens,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

<h1>_______________________________________________________________________________</h1>

<h1 align='center'> Ordering column names sensibly</h1>
<h2 align = 'center'>Can be used to order variables according to thematic groups</h2>

In [14]:
# let us first look at variables in the dataFrame
# use columns method
movie= pd.read_csv('data\movie.csv')
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [16]:
# Grouping variables thematically
##  Step 1: create lists of thematic subsets of variables 
##  Step 2: concatenate lists, in the prefered sequence, into a single list
##  Step 3: pass the concatenated list to indexing operator [].


# Step 1: creating lists of thenmatic subsets of variables

disc_core = ['movie_title','title_year', 'content_rating','genres']
disc_people = ['director_name','actor_1_name', 'actor_2_name','actor_3_name']
disc_other = ['color','country','language','plot_keywords','movie_imdb_link']
cont_fb = ['director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes',
           'actor_3_facebook_likes', 'cast_total_facebook_likes', 'movie_facebook_likes']
cont_finance = ['budget','gross']
cont_num_reviews = ['num_voted_users','num_user_for_reviews', 'num_critic_for_reviews']
cont_other = ['imdb_score','duration', 'aspect_ratio', 'facenumber_in_poster']

In [17]:
# Step 2: concatenating lists into a single list

new_col_order = disc_core + disc_people + \
    disc_other + cont_fb + \
    cont_finance + cont_num_reviews + \
    cont_other

# checking whether the original and new sets of columns are the same

set(movie.columns) == set(new_col_order)

True

In [18]:
# Step 3: passing concatenated list to the indexing operator

movie2 = movie[new_col_order]
movie2.head()

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,language,plot_keywords,movie_imdb_link,director_facebook_likes,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook_likes,budget,gross,num_voted_users,num_user_for_reviews,num_critic_for_reviews,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,English,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,0.0,1000.0,936.0,855.0,4834,33000,237000000.0,760505847.0,886204,3054.0,723.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,English,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,563.0,40000.0,5000.0,1000.0,48350,0,300000000.0,309404152.0,471220,1238.0,302.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,English,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,0.0,11000.0,393.0,161.0,11700,85000,245000000.0,200074175.0,275868,994.0,602.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,English,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,22000.0,27000.0,23000.0,23000.0,106759,164000,250000000.0,448130642.0,1144337,2701.0,813.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,131.0,131.0,12.0,NaN,143,0,NaN,NaN,8,NaN,NaN,7.1,NaN,NaN,0.0

# Your Turn

## Pullout all variables with actor names and their facebook likes

# '============================================'

# Operating on the Entire DataFrame
## get basic dataframe attributes  
### methods: shape, size, ndim

In [47]:
movie = pd.read_csv('data\movie.csv')
movie.shape

(4916, 28)

In [52]:
# returns size = rows*columns
movie.size

137648

In [49]:
# how many dimensions
movie.ndim

2

In [53]:
# returns number of rows
len(movie)

4916

In [55]:
# Count number of non missing values in each column
movie.count()

color                        4897
director_name                4814
num_critic_for_reviews       4867
duration                     4901
director_facebook_likes      4814
actor_3_facebook_likes       4893
actor_2_name                 4903
actor_1_facebook_likes       4909
gross                        4054
genres                       4916
actor_1_name                 4909
movie_title                  4916
num_voted_users              4916
cast_total_facebook_likes    4916
actor_3_name                 4893
facenumber_in_poster         4903
plot_keywords                4764
movie_imdb_link              4916
num_user_for_reviews         4895
language                     4904
country                      4911
content_rating               4616
budget                       4432
title_year                   4810
actor_2_facebook_likes       4903
imdb_score                   4916
aspect_ratio                 4590
movie_facebook_likes         4916
dtype: int64

In [62]:
# You can compute min, max, mean, median, std of each variable 
# use methods 
movie.min()

num_critic_for_reviews          1.00
duration                        7.00
director_facebook_likes         0.00
actor_3_facebook_likes          0.00
actor_1_facebook_likes          0.00
gross                         162.00
num_voted_users                 5.00
cast_total_facebook_likes       0.00
facenumber_in_poster            0.00
num_user_for_reviews            1.00
budget                        218.00
title_year                   1916.00
actor_2_facebook_likes          0.00
imdb_score                      1.60
aspect_ratio                    1.18
movie_facebook_likes            0.00
dtype: float64

In [60]:
# Get descriptive statistics 
movie.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [59]:
# Use percentiles parameter on describe method to get percentiles of interest
# pass a list of exact percentiles needed to the percentiles parameter
movie.describe(percentiles=[.01, .3, .09])

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
1%,2.000000,43.000000,0.000000,0.000000,6.080000,8.474800e+03,5.300000e+01,6.000000,0.000000,1.940000,6.000000e+04,1951.000000,0.000000,3.100000,1.330000,0.000000
9%,16.000000,85.000000,0.000000,27.000000,205.720000,2.784558e+05,1.343200e+03,428.000000,0.000000,19.000000,1.100000e+06,1986.000000,65.180000,4.900000,1.850000,0.000000
30%,60.000000,95.000000,11.000000,176.000000,694.000000,7.914069e+06,1.186450e+04,1684.500000,0.000000,80.000000,8.000000e+06,2000.000000,345.000000,6.000000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [63]:
# If skipna parameter is set to false, min will be computed on only numeric cols without missing values
movie.min(skipna=False)

num_critic_for_reviews       NaN
duration                     NaN
director_facebook_likes      NaN
actor_3_facebook_likes       NaN
actor_1_facebook_likes       NaN
gross                        NaN
num_voted_users              5.0
cast_total_facebook_likes    0.0
facenumber_in_poster         NaN
num_user_for_reviews         NaN
budget                       NaN
title_year                   NaN
actor_2_facebook_likes       NaN
imdb_score                   1.6
aspect_ratio                 NaN
movie_facebook_likes         0.0
dtype: float64

## ==========================================

# YOUR TURN

### Compute the 1st, 10th, 25th, 50th, 75th 95th, and the 99th percentiles

## ==========================================

# Chaining DataFrame Methods Together

In [65]:
# In this recipe we will count issing values in each column by chaining dataFrame methods together
# first determine which rows of which variable have missing values
movie.isnull().head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,False,False,False,False,True,False,True,False,True,True,True,True,True,True,False,False,True,False

In [66]:
# Now we can sum the how many times its says True fdor missing values for each col
movie.isnull().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [67]:
# We can even find total number of missing values in dataFrame by chaining sum of sum
movie.isnull().sum().sum()

2654

# Working with Operators on a DataFrame
## *Applying the same transformation to all variables*

In [4]:
college = pd.read_csv('data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [10]:
college + 5  # will give error because not all columns are numeric

TypeError: Could not operate 5 with block values must be str, not int

In [24]:
# We need to extract numeric columns
##   Suppose we extract all colums that give fraction of students for different races
##   These columns start with prefic 'UGDS_'
##   So we use filter method with parameter like= 'UGDS_'

college = pd.read_csv('data/college.csv', index_col = 'INSTNM')
college_ugds_ = college.filter(like='UGDS_')
college_ugds_.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [25]:
# Now we can add a small faction such as .00501 to all columns
# We do it with a single dataframe operation

(college_ugds_ + .00501).head()

# Note: the addition of .00501 is performed on all columns of the DataFrame in one go.

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.03831,0.94031,0.01051,0.00691,0.00741,0.00691,0.00501,0.01091,0.01881
University of Alabama at Birmingham,0.59721,0.26501,0.03331,0.05681,0.00721,0.00571,0.04181,0.02291,0.01501
Amridge University,0.30401,0.42421,0.01191,0.00841,0.00501,0.00501,0.00501,0.00501,0.27651
University of Alabama in Huntsville,0.70381,0.13051,0.04321,0.04261,0.01931,0.00521,0.02221,0.03821,0.04001
Alabama State University,0.02081,0.92581,0.01711,0.00691,0.00601,0.00561,0.01481,0.02931,0.01871

In [26]:
# Likewise, we can perform floor division to convert to nearest whole number percentages
(college_ugds_ + .0051)//.01

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,3.0,94.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
University of Alabama at Birmingham,59.0,26.0,3.0,5.0,0.0,0.0,4.0,2.0,1.0
Amridge University,30.0,42.0,1.0,0.0,0.0,0.0,0.0,0.0,27.0
University of Alabama in Huntsville,70.0,13.0,4.0,4.0,1.0,0.0,2.0,3.0,4.0
Alabama State University,2.0,92.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0
The University of Alabama,78.0,11.0,3.0,1.0,0.0,0.0,3.0,3.0,0.0
Central Alabama Community College,73.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Athens State University,78.0,12.0,2.0,1.0,2.0,0.0,2.0,1.0,3.0
Auburn University at Montgomery,53.0,34.0,1.0,2.0,0.0,0.0,3.0,4.0,2.0
Auburn University,85.0,7.0,2.0,2.0,1.0,0.0,0.0,1.0,1.0
Birmingham Southern College,80.0,11.0,2.0,5.0,1.0,0.0,1.0,0.0,1.0
Chattahoochee Valley Community College,47.0,44.0,5.0,1.0,0.0,0.0,2.0,0.0,1.0
Concordia College Alabama,3.0,88.0,4.0,1.0,0.0,0.0,0.0,5.0,0.0
South University-Montgomery,30.0,61.0,2.0,2.0,2.0,1.0,0.0,0.0,3.0
Enterprise State Community College,64.0,24.0,5.0,2.0,1.0,0.0,3.0,0.0,1.0
James H Faulkner State Community College,70.0,23.0,3.0,1.0,2.0,0.0,2.0,0.0,0.0
Faulkner University,39.0,51.0,3.0,0.0,1.0,0.0,2.0,2.0,3.0
Gadsden State Community College,69.0,21.0,3.0,0.0,1.0,0.0,2.0,2.0,2.0
New Beginning College of Cosmetology,90.0,3.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
George C Wallace State Community College-Dothan,63.0,32.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0
George C Wallace State Community College-Hanceville,86.0,6.0,4.0,1.0,1.0,0.0,0.0,1.0,2.0
George C Wallace State Community College-Selma,20.0,74.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Herzing University-Birmingham,35.0,53.0,2.0,1.0,0.0,0.0,6.0,0.0,4.0
Huntingdon College,64.0,20.0,3.0,1.0,1.0,0.0,3.0,1.0,8.0
Heritage Christian University,74.0,11.0,5.0,0.0,3.0,2.0,0.0,2.0,3.0
J F Drake State Community and Technical College,33.0,60.0,2.0,1.0,1.0,0.0,2.0,0.0,1.0
Jacksonville State University,68.0,24.0,1.0,1.0,1.0,0.0,0.0,2.0,3.0
Jefferson Davis Community College,59.0,30.0,1.0,3.0,3.0,0.0,2.0,0.0,4.0
Jefferson State Community College,67.0,22.0,5.0,2.0,0.0,0.0,3.0,1.0,0.0
John C Calhoun State Community College,65.0,19.0,4.0,3.0,2.0,0.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...
Strayer University-Lawrenceville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Piscataway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utah County Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L'esprit Academy - Royal Oak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Career Institute - Jersey City Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cobb Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Morrow Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Roswell Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Douglasville Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Lithonia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Savannah Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Augusta Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Charleston Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Irving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Katy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Northwest Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Plano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cedar Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-North Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-San Antonio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Stafford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WestMed College - Merced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vantage College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAE Institute of Technology San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rasmussen College - Overland Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bay Area Medical Academy - San Jose Satellite Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Excel Learning Center-San Antonio South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# We divide by 100 to complete the rounding exercise
college_ugds_op_round = (college_ugds_ + .00501) // .01 / 100
college_ugds_op_round.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.03,0.94,0.01,0.00,0.00,0.0,0.00,0.01,0.01
University of Alabama at Birmingham,0.59,0.26,0.03,0.05,0.00,0.0,0.04,0.02,0.01
Amridge University,0.30,0.42,0.01,0.00,0.00,0.0,0.00,0.00,0.27
University of Alabama in Huntsville,0.70,0.13,0.04,0.04,0.01,0.0,0.02,0.03,0.04
Alabama State University,0.02,0.92,0.01,0.00,0.00,0.0,0.01,0.02,0.01

In [28]:
# DataFrames also have methods equivalent of operators. See below
# Instead pf operators we perform the same operations as above with methods

college_ugds_op_round_methods = college_ugds_.add(.00501) \
                                            .floordiv(.01) \
                                            .div(100)

# Check if the dataFrame coreated with operators is the same as the one created with methods

college_ugds_op_round_methods.equals(college_ugds_op_round)

True

## =================================================

# YOU(R) TURN -- haha!!

## Compute the percentage of non-whites

## =================================================

# Comparing Missing Values

In [33]:
# This recipe shows how how to handle missing values.
#    We will first learn to make elementwise comparisons of dataFrame
#    In particular, we will learn to compare elements to np.nan 
#    
college =pd.read_csv('data/college.csv', index_col= 'INSTNM')
college_ugds_ = college.filter(like='UGDS_')

# college_ugds_.head()

In [35]:
# Testing whether all values of all columns equal a scalar constant (say, .0019)

college_ugds_ == .0019

# Obviously this is comparison is false

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,False,False,False,True,False,True,False,False,False
University of Alabama at Birmingham,False,False,False,False,False,False,False,False,False
Amridge University,False,False,False,False,False,False,False,False,False
University of Alabama in Huntsville,False,False,False,False,False,False,False,False,False
Alabama State University,False,False,False,True,False,False,False,False,False
The University of Alabama,False,False,False,False,False,False,False,False,False
Central Alabama Community College,False,False,False,False,False,False,False,False,True
Athens State University,False,False,False,False,False,False,False,False,False
Auburn University at Montgomery,False,False,False,False,False,False,False,False,False
Auburn University,False,False,False,False,False,False,False,False,False
Birmingham Southern College,False,False,False,False,False,False,False,False,False
Chattahoochee Valley Community College,False,False,False,False,False,False,False,False,False
Concordia College Alabama,False,False,False,False,False,False,False,False,False
South University-Montgomery,False,False,False,False,False,False,False,True,False
Enterprise State Community College,False,False,False,False,False,False,False,False,False
James H Faulkner State Community College,False,False,False,False,False,False,False,False,False
Faulkner University,False,False,False,False,False,False,False,False,False
Gadsden State Community College,False,False,False,False,False,False,False,False,False
New Beginning College of Cosmetology,False,False,False,False,False,False,False,False,False
George C Wallace State Community College-Dothan,False,False,False,False,False,False,False,False,False
George C Wallace State Community College-Hanceville,False,False,False,False,False,False,False,False,False
George C Wallace State Community College-Selma,False,False,False,False,False,False,False,False,False
Herzing University-Birmingham,False,False,False,False,False,False,False,False,False
Huntingdon College,False,False,False,False,False,False,False,False,False
Heritage Christian University,False,False,False,False,False,False,False,False,False
J F Drake State Community and Technical College,False,False,False,False,False,False,False,False,False
Jacksonville State University,False,False,False,False,False,False,False,False,False
Jefferson Davis Community College,False,False,False,False,False,False,False,False,False
Jefferson State Community College,False,False,False,False,False,False,False,False,False
John C Calhoun State Community College,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
Strayer University-Lawrenceville,False,False,False,False,False,False,False,False,False
Strayer University-Piscataway,False,False,False,False,False,False,False,False,False
Utah County Campus,False,False,False,False,False,False,False,False,False
L'esprit Academy - Royal Oak,False,False,False,False,False,False,False,False,False
National Career Institute - Jersey City Branch,False,False,False,False,False,False,False,False,False
Strayer University-Cobb Campus,False,False,False,False,False,False,False,False,False
Strayer University-Morrow Campus,False,False,False,False,False,False,False,False,False
Strayer University-Roswell Campus,False,False,False,False,False,False,False,False,False
Strayer University-Douglasville Campus,False,False,False,False,False,False,False,False,False
Strayer University-Lithonia Campus,False,False,False,False,False,False,False,False,False
Strayer University-Savannah Campus,False,False,False,False,False,False,False,False,False
Strayer University-Augusta Campus,False,False,False,False,False,False,False,False,False
Strayer University-Columbus,False,False,False,False,False,False,False,False,False
Strayer University-Columbia Campus,False,False,False,False,False,False,False,False,False
Strayer University-Charleston Campus,False,False,False,False,False,False,False,False,False
Strayer University-Irving,False,False,False,False,False,False,False,False,False
Strayer University-Katy,False,False,False,False,False,False,False,False,False
Strayer University-Northwest Houston,False,False,False,False,False,False,False,False,False
Strayer University-Plano,False,False,False,False,False,False,False,False,False
Strayer University-Cedar Hill,False,False,False,False,False,False,False,False,False
Strayer University-North Dallas,False,False,False,False,False,False,False,False,False
Strayer University-San Antonio,False,False,False,False,False,False,False,False,False
Strayer University-Stafford,False,False,False,False,False,False,False,False,False
WestMed College - Merced,False,False,False,False,False,False,False,False,False
Vantage College,False,False,False,False,False,False,False,False,False
SAE Institute of Technology San Francisco,False,False,False,False,False,False,False,False,False
Rasmussen College - Overland Park,False,False,False,False,False,False,False,False,False
National Personal Training Institute of Cleveland,False,False,False,False,False,False,False,False,False
Bay Area Medical Academy - San Jose Satellite Location,False,False,False,False,False,False,False,False,False
Excel Learning Center-San Antonio South,False,False,False,False,False,False,False,False,False

In [36]:
# Elementwise comparison ofa dataFrame to itself

college_self_compare = college_ugds_ == college_ugds_
college_self_compare.head()

# You would expect this comparison to return 'True' of each element of DataFrame

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,True,True,True,True,True,True,True,True,True
University of Alabama at Birmingham,True,True,True,True,True,True,True,True,True
Amridge University,True,True,True,True,True,True,True,True,True
University of Alabama in Huntsville,True,True,True,True,True,True,True,True,True
Alabama State University,True,True,True,True,True,True,True,True,True

In [37]:
# However, the above comparison is NOT true for all elements
# It is Not true in some cases. Lets first find those cases.

college_self_compare.all()

UGDS_WHITE    False
UGDS_BLACK    False
UGDS_HISP     False
UGDS_ASIAN    False
UGDS_AIAN     False
UGDS_NHPI     False
UGDS_2MOR     False
UGDS_NRA      False
UGDS_UNKN     False
dtype: bool

In [41]:
# This is because of missing values (NaN), which are not comparable to one another
# lets see how many missing values trun up in an elementwise comparison of the whole dataFrame
# If you tried == comparisons and then summung up, you would get 0 for each variable
# This is because the primary way of counting is to use isnull method

(college_ugds_ == np.nan).sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [43]:
# Now lets try to use isnull dataFrame method
college_ugds_.isnull().sum()

UGDS_WHITE    661
UGDS_BLACK    661
UGDS_HISP     661
UGDS_ASIAN    661
UGDS_AIAN     661
UGDS_NHPI     661
UGDS_2MOR     661
UGDS_NRA      661
UGDS_UNKN     661
dtype: int64

In [44]:
# So how do we proceed?
# THE CORRECT WAY OF COMPARING ENTIRE DATAFRAMES ==> use "equals" method

college_ugds_.equals(college_ugds_)

True

## ================================================================

# YOUR TURN

## Find the number of missing values in the 'actor facebook likes' variables
##  How many missing values are there in total (in all the selecetd variables)?

### Hints:
####   Create a dataframe consisting of this subset of variables
####   Count the missing values using *isnull()* dataframe method

## ================================================================

# Transforming the Direction of DataFrame operation

## All DataFrame methods have an * *axis* * parameter
###          The  *axis* parameter can take value *index* (rows) or *Columns*; or 0/1
###           The default value of *axis* parameter is 0 i.e. index (rows)
####           **To remember: 1 looks like a column; 
####           **read 0 as "z-row" to remind you to link zero to rows

In [4]:
college = pd.read_csv('data/college.csv', index_col = 'INSTNM')
college_ugds_ = college.filter(like = 'UGDS_')
college_ugds_.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [5]:
# Counting the non-missing values in each variable -- use DataFrame operations
# The default for axis parameter is 0 or index
# So it will apply the count method across rows (for each columns) 

college_ugds_.count()

# We could have done this operations with either one of the following: 
#    college_ugds_.count(axis=0) 
#    college_ugds_.count(axis= 'index')

UGDS_WHITE    6874
UGDS_BLACK    6874
UGDS_HISP     6874
UGDS_ASIAN    6874
UGDS_AIAN     6874
UGDS_NHPI     6874
UGDS_2MOR     6874
UGDS_NRA      6874
UGDS_UNKN     6874
dtype: int64

In [7]:
# Lets trnasform the direction of DataFrame operations
# Suppose we want to check for each university, how many non-missing values exist for racial proportions  
# This will involve settin axis='columns' to transpose the operation for counting across columns

college_ugds_.count(axis='columns').head()

# We can see below that each university (row) has 9 non-missing values

INSTNM
Alabama A & M University               9
University of Alabama at Birmingham    9
Amridge University                     9
University of Alabama in Huntsville    9
Alabama State University               9
dtype: int64

In [9]:
# For each university, the sum of racial proportions must add up to 1. 
# Let's check this. Need to sum across columns
# set the axis parameter to 'columns'

college_ugds_.sum(axis= 'columns').head()

INSTNM
Alabama A & M University               1.0000
University of Alabama at Birmingham    0.9999
Amridge University                     1.0000
University of Alabama in Huntsville    1.0000
Alabama State University               1.0000
dtype: float64

In [12]:
# For each university, we can vreate cumulative sum of racial proportions
# This should result in last column showing a cumulative sum of nearly 1.00

college_ugds_cumsum = college_ugds_.cumsum(axis=1)
college_ugds_cumsum.head()

# Note that the last column 'UGDS_UNKN' is nearly 1.00 for all universities

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9686,0.9741,0.9760,0.9784,0.9803,0.9803,0.9862,1.0000
University of Alabama at Birmingham,0.5922,0.8522,0.8805,0.9323,0.9345,0.9352,0.9720,0.9899,0.9999
Amridge University,0.2990,0.7182,0.7251,0.7285,0.7285,0.7285,0.7285,0.7285,1.0000
University of Alabama in Huntsville,0.6988,0.8243,0.8625,0.9001,0.9144,0.9146,0.9318,0.9650,1.0000
Alabama State University,0.0158,0.9366,0.9487,0.9506,0.9516,0.9522,0.9620,0.9863,1.0000

<h1 align='center'>_________________________________________________________________________________<h1>
<h1 align='center'> Case Study: College Campus Diversity <h1>
<h1 align='center'>_________________________________________________________________________________<h1>

In [22]:
pd.read_csv('data/college_diversity.csv', index_col='School')

                                                   Diversity Index
School
Rutgers University--Newark  Newark, NJ                        0.76
Andrews University  Berrien Springs, MI                       0.74
Stanford University  Stanford, CA                             0.74
University of Houston  Houston, TX                            0.74
University of Nevada--Las Vegas  Las Vegas, NV                0.74
University of San Francisco  San Francisco, CA                0.74
San Francisco State University  San Francisco, CA             0.73
University of Illinois--Chicago  Chicago, IL                  0.73
New Jersey Institute of Technology  Newark, NJ                0.72
Texas Woman's University  Denton, TX                          0.72

In [15]:
'''
We define diversity as the count of the number of races at campus having 
greater than 15% sof the student population.
We will continue to use data "college.csv"

Step 1: Check how many colleges have missing values for 1 or more race variables 
        >>chain isnull(), sum(), sort_values() methods)
        
Step 2: Drop rows with all nine race variables missing
        >>use dropna(how='all')

Step 3: Test whether a given cell has race proportion greater than 15%
        >>use .ge(.15) method

Step 4: Sum the proportions across all race variables
        >> .sum(axis='columns') method
'''

college = pd.read_csv('data\college.csv', index_col = 'INSTNM')
college_ugds_ = college.filter(like='UGDS_')

In [16]:
# Step 1: Identifying the number of race variables with missing values
college_ugds_.isnull()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,False,False,False,False,False,False,False,False,False
University of Alabama at Birmingham,False,False,False,False,False,False,False,False,False
Amridge University,False,False,False,False,False,False,False,False,False
University of Alabama in Huntsville,False,False,False,False,False,False,False,False,False
Alabama State University,False,False,False,False,False,False,False,False,False
The University of Alabama,False,False,False,False,False,False,False,False,False
Central Alabama Community College,False,False,False,False,False,False,False,False,False
Athens State University,False,False,False,False,False,False,False,False,False
Auburn University at Montgomery,False,False,False,False,False,False,False,False,False
Auburn University,False,False,False,False,False,False,False,False,False
Birmingham Southern College,False,False,False,False,False,False,False,False,False
Chattahoochee Valley Community College,False,False,False,False,False,False,False,False,False
Concordia College Alabama,False,False,False,False,False,False,False,False,False
South University-Montgomery,False,False,False,False,False,False,False,False,False
Enterprise State Community College,False,False,False,False,False,False,False,False,False
James H Faulkner State Community College,False,False,False,False,False,False,False,False,False
Faulkner University,False,False,False,False,False,False,False,False,False
Gadsden State Community College,False,False,False,False,False,False,False,False,False
New Beginning College of Cosmetology,False,False,False,False,False,False,False,False,False
George C Wallace State Community College-Dothan,False,False,False,False,False,False,False,False,False
George C Wallace State Community College-Hanceville,False,False,False,False,False,False,False,False,False
George C Wallace State Community College-Selma,False,False,False,False,False,False,False,False,False
Herzing University-Birmingham,False,False,False,False,False,False,False,False,False
Huntingdon College,False,False,False,False,False,False,False,False,False
Heritage Christian University,False,False,False,False,False,False,False,False,False
J F Drake State Community and Technical College,False,False,False,False,False,False,False,False,False
Jacksonville State University,False,False,False,False,False,False,False,False,False
Jefferson Davis Community College,False,False,False,False,False,False,False,False,False
Jefferson State Community College,False,False,False,False,False,False,False,False,False
John C Calhoun State Community College,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
Strayer University-Lawrenceville,True,True,True,True,True,True,True,True,True
Strayer University-Piscataway,True,True,True,True,True,True,True,True,True
Utah County Campus,True,True,True,True,True,True,True,True,True
L'esprit Academy - Royal Oak,True,True,True,True,True,True,True,True,True
National Career Institute - Jersey City Branch,True,True,True,True,True,True,True,True,True
Strayer University-Cobb Campus,True,True,True,True,True,True,True,True,True
Strayer University-Morrow Campus,True,True,True,True,True,True,True,True,True
Strayer University-Roswell Campus,True,True,True,True,True,True,True,True,True
Strayer University-Douglasville Campus,True,True,True,True,True,True,True,True,True
Strayer University-Lithonia Campus,True,True,True,True,True,True,True,True,True
Strayer University-Savannah Campus,True,True,True,True,True,True,True,True,True
Strayer University-Augusta Campus,True,True,True,True,True,True,True,True,True
Strayer University-Columbus,True,True,True,True,True,True,True,True,True
Strayer University-Columbia Campus,True,True,True,True,True,True,True,True,True
Strayer University-Charleston Campus,True,True,True,True,True,True,True,True,True
Strayer University-Irving,True,True,True,True,True,True,True,True,True
Strayer University-Katy,True,True,True,True,True,True,True,True,True
Strayer University-Northwest Houston,True,True,True,True,True,True,True,True,True
Strayer University-Plano,True,True,True,True,True,True,True,True,True
Strayer University-Cedar Hill,True,True,True,True,True,True,True,True,True
Strayer University-North Dallas,True,True,True,True,True,True,True,True,True
Strayer University-San Antonio,True,True,True,True,True,True,True,True,True
Strayer University-Stafford,True,True,True,True,True,True,True,True,True
WestMed College - Merced,True,True,True,True,True,True,True,True,True
Vantage College,True,True,True,True,True,True,True,True,True
SAE Institute of Technology San Francisco,True,True,True,True,True,True,True,True,True
Rasmussen College - Overland Park,True,True,True,True,True,True,True,True,True
National Personal Training Institute of Cleveland,True,True,True,True,True,True,True,True,True
Bay Area Medical Academy - San Jose Satellite Location,True,True,True,True,True,True,True,True,True
Excel Learning Center-San Antonio South,True,True,True,True,True,True,True,True,True

In [18]:
college_ugds_.isnull() \
                      .sum(axis=1) \
                      .sort_values(ascending=False) \
                      .head()

# As seen below, some universities have all 9 variables missing

INSTNM
Excel Learning Center-San Antonio South         9
Philadelphia College of Osteopathic Medicine    9
Assemblies of God Theological Seminary          9
Episcopal Divinity School                       9
Phillips Graduate Institute                     9
dtype: int64

In [22]:
# Step 2: Drop rows with all race variables missing

college_ugds_ = college_ugds_.dropna(how='all')
college_ugds_.isnull().sum(axis=1).head()

# As can be seen below, the number of missing variables is zero for all universities

INSTNM
Alabama A & M University               0
University of Alabama at Birmingham    0
Amridge University                     0
University of Alabama in Huntsville    0
Alabama State University               0
dtype: int64

In [13]:
# Which cells satisfy the condition that racial proportion is greater than 15%?

college_ugds_.ge(.15)

# We create a table of booleans

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,False,True,False,False,False,False,False,False,False
University of Alabama at Birmingham,True,True,False,False,False,False,False,False,False
Amridge University,True,True,False,False,False,False,False,False,True
University of Alabama in Huntsville,True,False,False,False,False,False,False,False,False
Alabama State University,False,True,False,False,False,False,False,False,False

In [24]:
# Count the booleans for each row
diversity_metric = college_ugds_.ge(.15).sum(axis='columns')
diversity_metric.head()

INSTNM
Alabama A & M University               1
University of Alabama at Birmingham    2
Amridge University                     3
University of Alabama in Huntsville    1
Alabama State University               1
dtype: int64

In [27]:
# Diverity is a single series. Confirming.
diversity_metric.shape

# Series length is 6874, as shown below.

(6874,)

In [29]:
# The series diversity_metric gives for each university the number of racial groups
# We want to construct the frequency distribution of this variable
# use value_counts

diversity_metric.value_counts()

# The results below show that 3042 universities have only one racial group (no diversity)
# only 2 universities have five racial groups on campus

1    3042
2    2884
3     876
4      63
0       7
5       2
dtype: int64